/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Unbounded';
  src: url('assets/fonts/Unbounded-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Unbounded';
  src: url('assets/fonts/Unbounded-Bold.ttf') format('truetype');
  font-weight: 700;
}
/* Theme Variables */
.nav-link {
  @apply text-[#8892B0] cursor-pointer transition duration-300;
}
.nav-link:hover {
  @apply text-[#00BFFF];
}
html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px;
}
body {
  background-color: #020E1A;
  color: #E6F1FF;
    font-family: 'Inter', sans-serif;

}
